body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: Gray;
}

form input{
    display: block;
    margin: 0 auto;
    font-size: 1.4em;

}

#titleInput{
    width: 500px;
    height: 25px;
    padding: 10px;
}

#submitBtn{
    height: 40px;
    width: 250px;
    margin: 10px auto
}

#searchResult{
    width: 200px;
    height: fit-content;
    float: left;
    padding: 10px;

    margin: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid;
}

#searchResult button{
    font-size: 1.2em;
    cursor: pointer;
}



#queryResults{
    flex-wrap: wrap;
    justify-content: center; /* Centering content */
    border: 2px solid;
    margin: 0 auto;
    background-color: hsl(0, 0%, 12%);
    color:hsl(0, 0%, 93%);
    display: none;
}

#queryResults::after {
    content: "";
    display: table;
    clear: both;
}


#movieDetails{
    display: none;
    background-color: hsl(0, 0%, 12%);
    color:hsl(0, 0%, 93%);
    margin: 0 auto;
    border: 2px solid;
    width: 90%;
    height: fit-content;
    padding: 10px;
}

#movieDetails img{
    padding: 25px;
    display: block;
    margin: 0 auto;
}



